{{extend 'store_layout.html'}}

<div class="row">
  <div class="features_items"><!--latest products-->
    <h2 class="title text-center">{{=T("Free eShop Products List")}}</h2>
    {{for product in product_list:}}
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="{{=URL("download",args=product.image)}}" alt="">
          <div class="caption">
            <h5>Name : {{=product.name}}</h5>
            <h6>Category : {{=product.category}}</h6>
            <h6>Price : {{=product.price}}</h6>
            <h6>Shipping : {{=product.shipping}}</h6>
            {{if product.quantity > 0:}}
              <a href="{{=URL('default', 'checkout', vars={'productid':product.id})}}" class="btn btn-default add-to-cart">
                <i class="fa fa-shopping-cart"></i>{{=T("Add to cart")}}
              </a>
            {{else:}}
              {{=T("Sold out.")}}
            {{pass}}
            <a href="{{=URL('default', 'checkout', vars={'productid':product.id})}}" class="btn btn-default add-to-cart">
              <i class="fa fa-shopping-cart"></i>{{=T("View more")}}
            </a>
          </div>
        </div>
      </div>
    {{pass}}
  </div>
</div>