{{extend 'store_layout.html'}}        

<div class="row">
  <div class="features_items">
      <div class="col-sm-2 col-md-6">
        <div class="thumbnail">
          <img src="{{=URL("download",args=product.image)}}" alt="">
          <div class="caption">
            <h5>Name : {{=product.name}}</h5>
            <h6>Category : {{=product.category}}</h6>
            <h6>Price : {{=product.price}}</h6>
            <h6>Shipping : {{=product.shipping}}</h6>
            {{if product.quantity > 0:}}
              <a href="{{=URL('default', 'cart', vars=dict(id=product.id, action='add'))}}" class="btn btn-default add-to-cart">
                <i class="fa fa-shopping-cart"></i>{{=T("Add to cart")}}
              </a>
            {{else:}}
              {{=T("Sold out.")}}
            {{pass}}
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="navbar navbar-inner block-header navbar-no-padding">
                <ul class="nav">
                  <li><a href="#reviews" data-toggle="tab">{{=T('Reviews')}} <span class="badge badge-info">{{=db(db.review.product==product.id).count()}}</span></a></li>
                </ul>
            </div>
            <div class="block-content">
                <div class="span12">
                    <div class="tab-content">
                      <div class="tab-pane" id="reviews">
                          {{if reviews:}}
                          <ul class="media-list">
                            {{for review in reviews:}}
                              <li class="media">
                                <div class="pull-left">
                                    <div><small class="muted">{{=review.create_date}}</small></div>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">{{='%(first_name)s %(last_name)s' % review.author}}</h4>
                                  <div class="well well-small">
                                      <p>{{=review.review_content}}</p>
                                  </div>
                                </div>
                              </li>
                            {{pass}}
                          </ul>
                          {{else:}}
                          {{=T('No reviews.')}}
                          {{pass}}
                      </div>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Write review</h3>
            {{=form}}
        </div>
    </div>
</div>